<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Full Regression Suite">
    <test name="Functional Tests">
        <packages>
            <package name="functionstest" />
        </packages>
    </test>
    <test name="Page Tests">
        <packages>
            <package name="pagetest" />
        </packages>
    </test>
    <test name="Visual Tests">
        <packages>
            <package name="visual" />
        </packages>
    </test>
</suite>
